.App {
  text-align: center;
}

.App-header {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px;
  width: 250px;
  position: fixed;
  border-radius: 20px;
  color: black;
}

.header {
  font-size: 20px;
}

.container p {
  font-weight: 500;
  font-size: 15px;
  color: gray;
}

.qrCode {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}